<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="women.hackathon.challengeme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseChallenge"
            android:label="@string/title_activity_choose_challenge" >
        </activity>
        <activity
            android:name=".ApplicationAdapter"
            android:label="@string/title_activity_application_adapter" >
        </activity>
        <activity
            android:name=".ChooseChallengeTime"
            android:label="@string/title_activity_choose_challenge_time" >
        </activity>
        <activity
            android:name=".ChooseOpponent"
            android:label="@string/title_activity_choose_opponent" >
        </activity>
        <activity
            android:name=".ChallengeNotificationScreen"
            android:label="@string/title_activity_challenge_notification_screen" >
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results" >
        </activity>
    </application>
</manifest>
